<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoQuest"
        tools:targetApi="31">
        <activity
            android:name=".ActivityScreens.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityScreens.SearchCarActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityScreens.OnSwipeTouchListener"
            android:exported="false" />
        <activity
            android:name=".ActivityScreens.CarDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityScreens.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityScreens.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityScreens.HelpActivity"
            android:exported="false" /> <!-- MainActivity - The entry point of the app -->
        <activity
            android:name=".ActivityScreens.MainScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityScreens.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityScreens.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityScreens.SignupActivity"
            android:exported="true" />
    </application>

</manifest>